.classpath
.settings
.project
*.iml
bin/
.idea/
classes/
out/
TestResources/
_site
.DS_Store
todo.txt
.metals/metals.log
.metals/metals.lock.db
.metals/metals.mv.db
.vscode/settings.json
.metals/.reports/metals-full/2023-11-29/r_compiler-error_23-49-43-344.md
.metals/.reports/metals-full/2023-11-30/r_compiler-error_10-39-38-350.md
